
.site-layout .site-layout-background {
  background: #fff;
}

.ant-form{
  padding: 20px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ant-image-img{
  object-fit: cover;
  border-radius: 12px;
}

.card-item{
  margin-bottom: 20px;
  /* border: 1px solid #1890FF; */
}