.layout{
	padding: 40px;
	background-color: azure;
}
.form_create{
	width: 90%;
}
.address{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;

}
.content_top{
	display: flex;
	justify-content: space-between;
	margin: 10px 15px
}
.btn_left{
	display: flex;
	justify-content: space-between;
}
.content_list{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: -15px;
}
.card_style{
	width: calc(20% - 30px);
	box-sizing: border-box;
	border-radius: 10px;
	margin-left: 30px;
	margin-bottom: 30px;
	/* background-color: aqua; */
	display: flex;
	justify-content: center;
}
.content_card{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.card_image{
	width: 80px;
	height: 80px;
	margin: 0 auto ;
}
.card_avatar{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
}
.card_content{
	margin: 10px auto;
	padding: 5px;
}
.card_bottom{
	display: flex;
	justify-content: center;
	margin-top: auto;
}
@media only screen and (max-width: 800px) {	
	.content_top{
		flex-direction: column-reverse;
	}
	.btn_left{
		display: block;
	}
}
@media only screen and (max-width: 1600px) {
	.card_style{
		width: calc(20% - 30px);
	}
}
@media only screen and (max-width: 1200px) {
	.card_style{
		width: calc(20% - 30px);
	}
}
@media only screen and (max-width: 1024px) {
	.card_style{
		width: calc(25% - 30px);
	}
}
@media only screen and (max-width: 992px) {
	.card_style{
		width: calc(33.3% - 30px);
	}
}
@media only screen and (max-width: 768px) {
	.card_style{
		width: calc(50% - 30px);
	}
}
@media only screen and (max-width: 600px) {
	.card_style{
		width: calc(50% - 30px);
	}
}
@media only screen and (max-width: 576px) {
	.form_create{
		padding: 15px;
		width: 100%;
	}
	.card_style {
		width: 100%;
	}
}