@import '~antd/dist/antd.css';
*{margin: 0; padding: 0;}
html, body{
    width: 100%;
    box-sizing: border-box;
    padding: 0 5px;
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}
.heroes{
    display: flex;
}
.listheroes{
    width: 100%;
    margin: 0 0 0 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    position: relative;
}
.lists{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
.btn_hero{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    background-color: rgba(0, 0, 0, 0.8);
}
.btn_all{
    background-color: goldenrod;
    color: #fff;
    border: 1px solid #adadad;
}
.btn_my{
    background-color: green;
    color: #fff;
    margin-left: 5px;
    border: 1px solid #adadad;
}

.card{
    width: 240px;
    height: auto;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
.ant-card-body{
    padding: 5px !important;
}
.img_cards{
    width: 100px;
    height: 100px;
    border-radius: 50% !important;
}
@media only screen and (max-width: 580px){
    .heroes{
        flex-direction: column;
    }
    .listheroes{
        margin: 0;
    }
}