@import '~antd/dist/antd.css';
*{margin: 0; padding: 0;}
html, body{
    width: 100%;
    box-sizing: border-box;
    padding: 0 5px;
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}
.heroes{
    display: flex;
}
.listheroes{
    width: 100%;
    margin: 0 0 0 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    position: relative;
}
.lists{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 10px;
}
.btn_hero{
    /* border-bottom: 1px solid rgba(0,0,0,0.1); */
    margin-left: 10px;
}
.btn_all{
    /* background-color: goldenrod; */
    color: #111;
    border-radius: 5px;
}
.btn_my{
    /* background-color: green; */
    color: #111;
    border-radius: 5px;
}
.tabs{
    padding: 5px 20px;
    background-color: #fff;
    border: 1px solid #adadad;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}
.tabs:first-child{
    color: #111;
    margin-right: 5px;
}
.tabs:last-child{
    color: purple;
}
.active-tabs{
    background-color: blue;
    color: #fff !important;
}
.card{
    width: 210px;
    height: auto;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
.ant-card-body{
    padding: 5px !important;
}
.img_cards{
    width: 100px;
    height: 100px;
    border-radius: 50% !important;
}
.ant-btn{
    min-width: 100px;
    padding: 0 !important;
}
.logo_title{
    display: flex;
    align-items: center;
}
.logo_title img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.logo_title h2{
    margin-bottom: 0 !important;
    font-family: sans-serif;
    font-weight: 600;
}

.custom-file-input {
    color: #111;
    font-size: 13px;
  }
.custom-file-input::-webkit-file-upload-button {
    background: none;
    outline: none;
    font-size: 10px;
    border: 1px solid #ccc;
}
/* .custom-file-input::before {
    content: 'Select some files';
    color: black;
    display: inline-block;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    font-size: 10pt;
} */
.ant-input:focus{
    outline: none !important;
}
.pagination{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 20px 0;
}
.Toastify__close-button{
    align-self: center !important;
}
.btn_submit{
    width: 120px;
    height: 50px; 
    border-radius: 5px; 
    font-size: 12px;
}
.btn_submit:first-child{
   margin-right: 5px;
}
@media only screen and (max-width: 1024px){
    .lists{
        display: flex;
        justify-content: center;
    }
    .card{
        width: 200px;
    }
    .btn_submit{
        width: 100%;
        border-radius: 7px;
    }
    .btn_submit:first-child{
        margin-right: 0;
        margin-bottom: 5px;
    }
}
@media only screen and (max-width: 767px){
    .lists{
        display: flex;
        justify-content: center;
    }
    .card{
        width: 200px;
    }
}
@media only screen and (max-width: 650px){
    .lists{
        display: flex;
        justify-content: center;
    }
    .card{
        width: 240px;
    }
}
@media only screen and (max-width: 580px){
    .heroes{
        flex-direction: column
    }
    .title{
        display: block;
    }
    .listheroes{
        margin: 0;
    }
    .lists{
        display: flex;
        justify-content: center;
    }
    .card{
        width: 200px;
    }
}
@media only screen and (max-width: 420px){
    .title{
        display: block;
    }
    .card{
        width: 240px;
    }
}