.App {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}

.container {
  padding: 30px;
}

.btn {
  border: none;
  outline: none;
  padding: 6px 12px;
  background-color: rgb(4, 209, 4);
  color: #fff;
  font-size: 15px;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  transition: all .3s;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.btn:hover {
  background-color: rgb(3, 156, 3);
}

.btn--myheroes {
  margin-left: 15px;
}

.btn--myheroes:disabled {
  background-color: #6c757d;
  cursor: default;
}

.container {
  flex: 1;
}

.container-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-top a {
  text-decoration: underline;
  font-size: 17px;
  color: #dc3545;
}

.container-top a:hover {
  text-decoration: none;
}

.container-top-address {
  color: rgb(4, 209, 4);
  font-size: 17px;
}

.container-count {
  padding-top: 16px;
  font-size: 17px;
  width: 100%;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
}

.container-count > div {
  padding-right: 22px;
  margin-right: 22px;
  border-right: 1px solid rgba(0,0,0,0.2);
}

.container-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  padding-left: 0;
  margin: 20px 0 0 -20px;
}

.container-err-message {
  display: block;
  width: 100%;
  text-align: center;
  color: #dc3545;
  font-size: 17px;
  margin-top: 14px;
}

.container-page-list {
  padding: 0;
  margin: 16px 0 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-page-item {
  outline: none;
  padding: 5px 10px;
  margin: 12px 12px 0 0;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 7px;
  cursor: pointer;
}

.container-page-item.active {
  background-color: #dc3545;
  color: #fff;
}

.container-page-item:hover {
  background-color: #dc3545;
  color: #fff;
}

.container-page-item:disabled {
  background-color: #919ba3;
  color: #fff;
  cursor: default;
}

.detail-modal, .transfer-modal {
  position: fixed;
  inset: 0;
  display: none;
}

.detail-modal.active, .transfer-modal.active {
  display: block;
}

.detail-modal-overlay, .transfer-modal-overlay {
  background-color: rgba(0,0,0,0.2);
  position: absolute;
  inset: 0;
  z-index: 1;
}

.detail-modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,  -50%);
  background-color: #fff;
  width: 200px;
  padding: 16px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9999;
}

.detail-modal-icon {
  font-size: 19px;
  cursor: pointer;
  align-self: flex-end;
}

.detail-modal-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-modal-data > span {
  display: block;
  margin: 4px 0;
}

.detail-modal-data > span span {
  display: inline-block;
  margin-left: 6px;
}

.transfer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,  -50%);
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border-radius: 8px;
  overflow: hidden;
  transition: all .6s;
  z-index: 9999;
}

.transfer-form {
  border: 1px solid rgba(0,0,0,0.2);
  padding: 16px 22px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.transfer-form-icon {
  align-self: flex-end;
  font-size: 19px;
  cursor: pointer;
}

.transfer-form input {
  outline: none;
  display: block;
  padding: 8px 12px;
  margin-top: 13px;
  font-size: 15px;
}

.transfer-button-wrap {
  margin-top: 10px;
}

.btn--transfer {
  margin-right: 12px;
  background-color: rgb(4, 209, 4);
  color: #fff;
}


.btn--cancel {
  border: 1px solid #dc3545;
  background-color: #fff;
  color: #000;
}

.btn--cancel:hover {
  color: #fff;
  background-color: #dc3545;
}

@media screen and (max-width: 859px) {
  .container-list {
    margin-left: -10px;
  }

  .container-top {
    flex-direction: column;
    align-items: flex-start;
  }

  .container-top a, .container-top-address {
    display: block;
    margin-top: 16px;
    word-break: break-word;
  }

  .container-err-message {
    font-size: 18px;
  }
}

@media screen and (max-width: 559px) {
  .App {
    flex-direction: column;
  }

  .container {
    width: 100%;
    padding-top: 30px;
    border-top: 1px solid rgba(0,0,0,0.2);
  }
}